/* */
/*This file is to ensure a styling baseline for all html elements*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after {
  text-decoration: none;
}

*::before {
  text-decoration: none;
}

*::while  {
  text-decoration: none;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: helvetica, 'Advent Pro', Verdana, Geneva, Tahoma, sans-serif;
  
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

ol, ul {
  list-style: none;
}
