/*Background colour inspired by Venngage link: https://venngage.com/blog/pastel-color-palettes */

*{
    font-family: Arial, Helvetica, sans-serif;
}
/*For a unvisited link, no text decoration (no underline) */
a:link {
    text-decoration: none
}
/*For a visited link, no text decoration (no underline) */
a:visited {
    text-decoration: none;
}
/*For a link being clicked, no text decoration (no underline) */
a:active {
    text-decoration: none;
}
/*For a link being hovered over */
a:hover {
    opacity: 0.5;      
}

/*When selecting the background and text will change */
::selection {
    background-color: #0072bb;
    color: white;
}

main {
    padding: 0px 15px;
  
}

h1 {
  margin-left: 20px;
  color: white;
  font-weight: 700;
  line-height: 1.1;
  font-size: 48px;
}

h2,h3 {
    margin-left: 20px;
    color: #0072bb;
    font-weight: 700;
    line-height: 1.1;
    font-size: 38px;
    padding-bottom: 20px;
  }

header {
    padding: 20px;
    margin: 20px;
    background-color:#daeaf6;
    border-style: solid;
    border-color:#e8dff5;
    border-width: 20px;
    
}
body {
    background-color: #fcf4dd;
}

header h1 {
    display: inline-block;
}

header nav {
    float: right;
    padding-left: 20px;

}

header nav ul { 

}

header nav ul li {
    display:;

    padding-left: 10PX;
    padding-right: 10px;  
    font-size: 30px; 
    line-height: 1.5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500px;
}

section {
    padding: 20px;
    margin: 10px;
}

div {
    padding: 20px;
}

img {
    padding: 0px;
    margin-left: 10px;
    min-height: 600px;
    min-width: 600px;
    max-width: 600px;
    max-height: 600px;
    border-style: solid rgb(139, 179, 255) 5px;
    
}

.about p {
    line-height: 1.5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500px;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

footer {
    text-align: center;
}
.button {
    background-color: #20aaff;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin-top: -40px;
    margin-right: -5px;
    cursor: pointer;
    position: relative;
    border-style: none;
    
}
.button2 {
    background-color: #20aaff;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    margin:20px;
    cursor: pointer;
    position: relative;
    border-style: none;
    float: left;
    
}